## Read dataset

In [1]:
import pandas as pd

pd.set_option('display.max_columns', None)

column_headers = ['id', 'sale', 'sales_amount_in_euro', 'time_delay_for_conversion',
                  'click_timestamp', 'nb_clicks_1week', 'product_price', 'product_age_group',
                  'device_type', 'audience_id', 'product_gender', 'product_brand',
                  'product_category1', 'product_category2', 'product_category3',
                  'product_category4', 'product_category5', 'product_category6',
                  'product_category7', 'product_country', 'product_id', 'product_title',
                  'partner_id', 'user_id']

clicks_df = pd.read_csv('../data/main-dataset/criteoCategorized.csv')
clicks_df.head()

,id,sale,sales_amount_in_euro,time_delay_for_conversion,click_timestamp,nb_clicks_1week,product_price,product_age_group,device_type,audience_id,product_gender,product_brand,prod_category1,prod_category2,prod_category3,prod_category4,prod_category5,prod_category6,prod_category7,product_country,product_id,product_title,partner_id,user_id
0,0,False,-1.0,-1,2020-08-31 16:37:00,-1,0.0,0,3,0,0,0,0,0,0,0,0,0,0,8,1058198,0,277,3924600
1,1,False,-1.0,-1,2020-09-01 01:54:44,0,0.0,4,7,0,2,13317,1,105,0,0,0,0,0,8,486749,188114,230,11188022
2,2,False,-1.0,-1,2020-08-31 16:49:28,-1,0.0,0,3,0,0,0,0,0,0,0,0,0,0,0,0,0,245,12458754
3,3,False,-1.0,-1,2020-08-31 16:26:14,-1,0.0,0,7,12657,0,0,0,0,0,0,0,0,0,0,0,0,85,8086037
4,4,False,-1.0,-1,2020-08-31 20:20:45,-1,0.0,0,3,0,0,0,0,0,0,0,0,0,0,8,606352,0,277,6010702

## Group, sort and save splitted dataset

In [15]:
partner_dfs = clicks_df.groupby('partner_id')

for partner_id, df in partner_dfs:
    sorted_df = df.sort_values('click_timestamp', ascending=True)
    filename = f'../data/partners-datasets/partner-clicks-{partner_id}'
    sorted_df.to_csv(filename)